body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

html {
  justify-content: center;
}

html, body{
  height: 100%;
  width: 100%;
}

.hero {
  margin: 0px;
  width: 100%;
  height: 100%;
  max-height: 2000px;
  display: flex;
  justify-content: center;
  background-color: #a8a8a8;
  position: absolute;
  z-index: 2;
}
#hero_image {
  padding-top: 10%;
  margin: 0px;
  background-repeat: no-repeat;
  z-index: 1;
  position: absolute;
  display: flex;
  justify-content: center;
}
.topnav {
  background-color: #58585815;
  width: 100%;
  overflow: hidden;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: ceneter;
  z-index: 3;
}
.topnav a {
  float: right;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 1.4em;
  font-family: 'Roboto Condensed', sans-serif;
}
a:link,
a:visited {
  position: relative;
  color: black;
  font-variant: small-caps;
  text-decoration: none;
}

a:hover,
a:active {
  color: transparent;
  background-color: transparent;
  text-shadow: -.25px -.25px 0 black, -.25px .25px 0 black, .25px -.25px 0 black, .25px .25px 0 black;
}

a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #8e0108;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all .3s ease-in-out 0s;
  transition: all .3s ease-in-out 0s;
}

a:hover::before,
a:active::before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}